.Health-guideline {
    padding: 5%;
    margin-left: 20vw;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Health-guideline .heading{
    font-size: 30px;
    padding: 3%;
    font-weight: bolder;
}

.Health-guideline > strong{
    padding: 2%;
    align-self: flex-start;
}

.Health-guideline > p{
    width: 50vw;
    padding: 2%;
}

@media screen and (max-width: 450px){
    .Health-guideline{
        width: 80vw;
    }
    .Health-guideline > p{
        width: 80vw;
        padding: 5%;
    }
}
