@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back > a > img{
    /* width: 3wv; */
    /* height: 4vh; */
    margin-top: 2vh;
    margin-left: 2vw;
}

.form-sign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 3vh;
}
.form-sign .left-sign > img{
    width: 60vw;
    height: auto;
    margin-left: -10vw;
    margin-top: -20vh;
}

.right-sign {
    margin-right: -10vw;
    width: 30vw;
    margin-top: -2vh;
    padding-left: 5%;
}

.right-sign .heading{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 45px;
    padding: 2%;
    margin-top: 0vh;
    margin-right: -8vw;
}

.right-sign .subheading{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 3%;
    width: 20vw;
}

.right-sign > a {
    text-decoration: none;
    color: rgb(15, 36, 119);
}

.right-sign > form > label {
    font-size: 20px;
    font-weight: bold;
    /* padding: -5%; */
}
.right-sign > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-sign > form > input {
    padding: 3%;
    border: 1px black solid;
    border-radius: 10px;
    width: 25vw;
    margin-top: -1vh;
    margin-bottom: -1vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-size: 17px;
}


.right-sign > form > input::placeholder{
    font-size: 15px;
}

.right-sign > form > select {
    padding: 3%;
    border: 1px black solid;
    border-radius: 10px;
    width: 25vw;
    margin-top: -1vh;
    margin-bottom: -1vh;
}

.right-sign .button > button {
    width: 6vw;
    padding: 3%;
    margin-bottom: 5vh;
}

.right-sign .button #submit {
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
}

.right-sign .button #reset{
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 10px;    
}

/* phone screen */
@media screen and (max-width: 450px){
    .back a > img{
        height: 5vh;
        width: 9vw;
    }
    .left-sign{
        display: none;
    }
    .right-sign{
        width: 70vw;
    }
    .right-sign .subheading{
        width: 100vw;
        align-self: center;
    }
    .right-sign > form > select{
        width: 70vw;
        font-size: 17px;
    }
    .right-sign  form > input{
        width: 70vw;
        padding: 3%;
    }
    .right-sign  form > input::placeholder{
        font-size: 17px;
    }
    .right-sign .button > button {
        width: 20vw;
    }
}

/* tablet screen */
/* @media screen and (max-width: 850px) and (min-width: 450px){
    .right{
        width: 70vw;
    }
    .right .subheading{
        width: 100%;
    }
    .form .left > img{
        display: none;
    }
    button {
        width: 20vw;
        font-size: 20px;
    }
    input::placeholder{
        font-size: 20px;
    }
    select{
        font-size: 20px;
    }
} */
