<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <title>Home page</title>
</head>
<body>
    <header>
        <div class="logo">
            <div class="name">StayHealthy</div>
            <img src="../images/stethescope.png">
        </div>
        <div class="right">
            <a href="#">Home</a>
            <a href="#">Appointments</a>
            <div class="health"><a href="#">Health Blog</a></div>
            <a href="#">Reviews</a>
            <div class="sign"><a href="#">Sign up</a></div>
            <div class="log"><a href="#">Login</a></div>
        </div>
    </header>
    
</body>
</html>